.selected {
  background-color: rgba(59, 238, 169, 0.274);
  border: 2px solid blue;
}

.legend-text {
  position: absolute;
  bottom: 0px;
  right: 10px;
  border: 2px solid blue;
  border-radius: 20px;
  background-color: rgba(0, 0, 255, 0.123);
  padding: 2px;
  font-weight: bold;
  color: blue;
  font-size: 14px;
}

.card-title-selected{
  font-weight: bold;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.content {
  padding-top: 60px;
}